GROQ_API_KEY=
GROQ_MODEL=whisper-large-v3-turbo
LANGUAGE=ru
HOTKEY=f8
ENABLE_SOUNDS=true
SYSTEM_PROMPT=Привет! Это грамотная русская речь. Используй знаки препинания: запятые, точки, вопросительные и восклицательные знаки.
